<a href="https://colab.research.google.com/github/EmmanuelOoko/pHChlorine/blob/main/ph_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PH Dataset Creation

In [4]:
import matplotlib as plt
from matplotlib import image as img
import cv2 as cv
import pandas as pd

# **Ph 10 Manipulation**

In [5]:
df_10 = pd.read_csv("/content/ph_data/ph_10_hsv.csv")
df_10.head(10)

   Unnamed: 0        hue  saturation  lumination  ph_label
0           0  313.78380    0.303279    0.956863      10.0
1           1  313.78380    0.304527    0.952941      10.0
2           2  313.07693    0.319672    0.956863      10.0
3           3  313.07693    0.320988    0.952941      10.0
4           4  315.18073    0.336032    0.968627      10.0
5           5  315.18073    0.336032    0.968627      10.0
6           6  311.42860    0.342857    0.960784      10.0
7           7  312.00003    0.344129    0.968627      10.0
8           8  312.41382    0.352227    0.968627      10.0
9           9  312.41382    0.352227    0.968627      10.0

In [6]:
df_10b = pd.read_csv("/content/ph_data/ph_10_rgb.csv")
df_10b.head(10)

   Unnamed: 0       red      blue     green  ph_label
0           0  0.956863  0.666667  0.890196      10.0
1           1  0.952941  0.662745  0.886274      10.0
2           2  0.956863  0.650980  0.890196      10.0
3           3  0.952941  0.647059  0.886274      10.0
4           4  0.968627  0.643137  0.886274      10.0
5           5  0.968627  0.643137  0.886274      10.0
6           6  0.960784  0.631373  0.898039      10.0
7           7  0.968627  0.635294  0.901961      10.0
8           8  0.968627  0.627451  0.898039      10.0
9           9  0.968627  0.627451  0.898039      10.0

In [7]:
print(df_10.columns)

Index(['Unnamed: 0', 'hue', 'saturation', 'lumination', 'ph_label'], dtype='object')

In [8]:
df_10.rename(columns={'Unnamed: 0': 'index'}, inplace=True)

In [9]:
df_10b.rename(columns={'Unnamed: 0': 'index'}, inplace=True)

In [10]:
df_10.head(5)

   index        hue  saturation  lumination  ph_label
0      0  313.78380    0.303279    0.956863      10.0
1      1  313.78380    0.304527    0.952941      10.0
2      2  313.07693    0.319672    0.956863      10.0
3      3  313.07693    0.320988    0.952941      10.0
4      4  315.18073    0.336032    0.968627      10.0

In [11]:
df_10.drop(columns={'index'}, inplace=True)

In [12]:
df_10.head(5)

         hue  saturation  lumination  ph_label
0  313.78380    0.303279    0.956863      10.0
1  313.78380    0.304527    0.952941      10.0
2  313.07693    0.319672    0.956863      10.0
3  313.07693    0.320988    0.952941      10.0
4  315.18073    0.336032    0.968627      10.0

In [13]:
df_10b.drop(columns={'index'}, inplace=True)
df_10b.head(5)

        red      blue     green  ph_label
0  0.956863  0.666667  0.890196      10.0
1  0.952941  0.662745  0.886274      10.0
2  0.956863  0.650980  0.890196      10.0
3  0.952941  0.647059  0.886274      10.0
4  0.968627  0.643137  0.886274      10.0

In [14]:
df_10b.rename(columns={'ph_label':'ph'}, inplace=True)
df_10.rename(columns={'ph_label':'ph'}, inplace=True)
df_10b.head(5)
df_10.head(5)

         hue  saturation  lumination    ph
0  313.78380    0.303279    0.956863  10.0
1  313.78380    0.304527    0.952941  10.0
2  313.07693    0.319672    0.956863  10.0
3  313.07693    0.320988    0.952941  10.0
4  315.18073    0.336032    0.968627  10.0

In [15]:
df_10b.rename(columns={'lumination':'value'}, inplace=True)
df_10.rename(columns={'lumination':'value'}, inplace=True)
df_10b.head(5)
df_10.head(5)

         hue  saturation     value    ph
0  313.78380    0.303279  0.956863  10.0
1  313.78380    0.304527  0.952941  10.0
2  313.07693    0.319672  0.956863  10.0
3  313.07693    0.320988  0.952941  10.0
4  315.18073    0.336032  0.968627  10.0

In [16]:
df_10.head(5)

         hue  saturation     value    ph
0  313.78380    0.303279  0.956863  10.0
1  313.78380    0.304527  0.952941  10.0
2  313.07693    0.319672  0.956863  10.0
3  313.07693    0.320988  0.952941  10.0
4  315.18073    0.336032  0.968627  10.0

In [17]:
df_10b.head(5)

        red      blue     green    ph
0  0.956863  0.666667  0.890196  10.0
1  0.952941  0.662745  0.886274  10.0
2  0.956863  0.650980  0.890196  10.0
3  0.952941  0.647059  0.886274  10.0
4  0.968627  0.643137  0.886274  10.0

In [60]:
df10b = pd.DataFrame()
df10b = df_10b

In [63]:
df10b.drop(['ph'],  axis=1, inplace=True)
df10b

          red      blue     green
0    0.956863  0.666667  0.890196
1    0.952941  0.662745  0.886274
2    0.956863  0.650980  0.890196
3    0.952941  0.647059  0.886274
4    0.968627  0.643137  0.886274
..        ...       ...       ...
495  0.898039  0.568627  0.835294
496  0.874510  0.580392  0.843137
497  0.870588  0.576471  0.839216
498  0.960784  0.670588  0.898039
499  0.960784  0.670588  0.898039

[500 rows x 3 columns]

In [35]:
df_10.drop(df_10.index[500:], inplace=True)
df10 = df_10
df10.describe()

             hue  saturation       value     ph
count  500.00000  500.000000  500.000000  500.0
mean   307.77011    0.412747    0.965945   10.0
std      2.52189    0.034244    0.023070    0.0
min    301.73077    0.286885    0.866667   10.0
25%    306.11110    0.402490    0.952941   10.0
50%    307.85050    0.426295    0.964706   10.0
75%    308.27588    0.435685    0.984314   10.0
max    316.23532    0.453441    1.000000   10.0

In [36]:
ph10 = pd.DataFrame()

In [64]:
#ph10 = df10.concat(df10b) 
ph10 = pd.concat([df10b, df10], axis=1)

In [65]:
ph10

          red      blue     green        hue  saturation     value    ph
0    0.956863  0.666667  0.890196  313.78380    0.303279  0.956863  10.0
1    0.952941  0.662745  0.886274  313.78380    0.304527  0.952941  10.0
2    0.956863  0.650980  0.890196  313.07693    0.319672  0.956863  10.0
3    0.952941  0.647059  0.886274  313.07693    0.320988  0.952941  10.0
4    0.968627  0.643137  0.886274  315.18073    0.336032  0.968627  10.0
..        ...       ...       ...        ...         ...       ...   ...
495  0.898039  0.568627  0.835294  311.42860    0.366812  0.898039  10.0
496  0.874510  0.580392  0.843137  306.40002    0.336323  0.874510  10.0
497  0.870588  0.576471  0.839216  306.40002    0.337838  0.870588  10.0
498  0.960784  0.670588  0.898039  312.97300    0.302041  0.960784  10.0
499  0.960784  0.670588  0.898039  312.97300    0.302041  0.960784  10.0

[500 rows x 7 columns]

In [73]:
ph10.to_csv('/content/ph_datasets/ph10.csv')

# **Ph 14 Manipulation**

In [74]:
ph14b = pd.read_csv("/content/ph_data/ph_14_rgb.csv")
ph14v = pd.read_csv("/content/ph_data/ph_14_hsv.csv")

In [75]:
ph14b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph14b.drop(ph14b.index[500:], inplace=True)
ph14b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.817388    0.418690    0.760855
std      0.020698    0.022510    0.022667
min      0.780392    0.388235    0.717647
25%      0.803922    0.400000    0.741177
50%      0.811765    0.415686    0.760784
75%      0.831373    0.431373    0.780392
max      0.862745    0.486274    0.803922

In [79]:
ph14v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph14v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph14v.drop(ph14v.index[500:], inplace=True)
ph14v.describe()
ph14v

           hue  saturation     value    ph
0    315.36588    0.398058  0.807843  14.0
1    311.29413    0.412621  0.807843  14.0
2    311.29413    0.412621  0.807843  14.0
3    312.00003    0.414634  0.803922  14.0
4    311.42860    0.413793  0.796078  14.0
..         ...         ...       ...   ...
495  311.11110    0.495413  0.854902  14.0
496  310.65420    0.488584  0.858824  14.0
497  310.65420    0.486364  0.862745  14.0
498  316.23532    0.408654  0.815686  14.0
499  316.23532    0.408654  0.815686  14.0

[500 rows x 4 columns]

In [80]:
ph14 = pd.DataFrame()
ph14 = pd.concat([ph14b, ph14v], axis=1)
ph14.to_csv('/content/ph_datasets/ph14.csv')

In [81]:
ph14

          red      blue     green        hue  saturation     value    ph
0    0.807843  0.486274  0.725490  315.36588    0.398058  0.807843  14.0
1    0.807843  0.474510  0.745098  311.29413    0.412621  0.807843  14.0
2    0.807843  0.474510  0.745098  311.29413    0.412621  0.807843  14.0
3    0.803922  0.470588  0.737255  312.00003    0.414634  0.803922  14.0
4    0.796078  0.466667  0.733333  311.42860    0.413793  0.796078  14.0
..        ...       ...       ...        ...         ...       ...   ...
495  0.854902  0.431373  0.776471  311.11110    0.495413  0.854902  14.0
496  0.858824  0.439216  0.784314  310.65420    0.488584  0.858824  14.0
497  0.862745  0.443137  0.788235  310.65420    0.486364  0.862745  14.0
498  0.815686  0.482353  0.725490  316.23532    0.408654  0.815686  14.0
499  0.815686  0.482353  0.725490  316.23532    0.408654  0.815686  14.0

[500 rows x 7 columns]

# **Ph 12 Manipulation**

In [87]:
ph12b = pd.read_csv("/content/ph_data/ph_12_rgb.csv")
ph12v = pd.read_csv("/content/ph_data/ph_12_hsv.csv")

In [88]:
ph12b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph12b.drop(ph12b.index[500:], inplace=True)
ph12b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.932988    0.512463    0.888337
std      0.028159    0.024854    0.025132
min      0.890196    0.482353    0.835294
25%      0.913725    0.490196    0.870588
50%      0.921569    0.509804    0.886274
75%      0.960784    0.529412    0.913725
max      0.988235    0.596078    0.933333

In [89]:
ph12v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph12v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph12v.drop(ph12v.index[500:], inplace=True)
ph12v.describe()
ph12v

           hue  saturation     value    ph
0    313.95350    0.362869  0.929412  12.0
1    313.95350    0.362869  0.929412  12.0
2    311.59090    0.372881  0.925490  12.0
3    311.59090    0.374468  0.921569  12.0
4    311.03452    0.373391  0.913725  12.0
..         ...         ...       ...   ...
495  307.75864    0.462151  0.984314  12.0
496  308.86957    0.456349  0.988235  12.0
497  308.86957    0.456349  0.988235  12.0
498  313.95350    0.364407  0.925490  12.0
499  313.95350    0.362869  0.929412  12.0

[500 rows x 4 columns]

In [90]:
ph12 = pd.DataFrame()
ph12 = pd.concat([ph12b, ph12v], axis=1)
ph12.to_csv('/content/ph_datasets/ph12.csv')
ph12

          red      blue     green        hue  saturation     value    ph
0    0.929412  0.592157  0.850980  313.95350    0.362869  0.929412  12.0
1    0.929412  0.592157  0.850980  313.95350    0.362869  0.929412  12.0
2    0.925490  0.580392  0.858824  311.59090    0.372881  0.925490  12.0
3    0.921569  0.576471  0.854902  311.59090    0.374468  0.921569  12.0
4    0.913725  0.572549  0.850980  311.03452    0.373391  0.913725  12.0
..        ...       ...       ...        ...         ...       ...   ...
495  0.984314  0.529412  0.925490  307.75864    0.462151  0.984314  12.0
496  0.988235  0.537255  0.921569  308.86957    0.456349  0.988235  12.0
497  0.988235  0.537255  0.921569  308.86957    0.456349  0.988235  12.0
498  0.925490  0.588235  0.847059  313.95350    0.364407  0.925490  12.0
499  0.929412  0.592157  0.850980  313.95350    0.362869  0.929412  12.0

[500 rows x 7 columns]

# **Ph 8.2 Manipulation**

In [91]:
ph8_2b = pd.read_csv("/content/ph_data/ph_8_2_rgb.csv")
ph8_2v = pd.read_csv("/content/ph_data/ph_8_2_hsv.csv")

In [92]:
ph8_2b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph8_2b.drop(ph8_2b.index[500:], inplace=True)
ph8_2b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.459757    0.439020    0.597498
std      0.036271    0.030587    0.013715
min      0.388235    0.392157    0.564706
25%      0.431373    0.415686    0.587255
50%      0.450980    0.431373    0.596078
75%      0.486274    0.454902    0.607843
max      0.560784    0.529412    0.631373

In [93]:
ph8_2v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph8_2v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph8_2v.drop(ph8_2v.index[500:], inplace=True)
ph8_2v.describe()
ph8_2v

           hue  saturation     value   ph
0    247.82608    0.145570  0.619608  8.2
1    249.99998    0.153846  0.611765  8.2
2    249.59999    0.158228  0.619608  8.2
3    249.23076    0.162500  0.627451  8.2
4    249.59999    0.159236  0.615686  8.2
..         ...         ...       ...  ...
495  244.39024    0.278912  0.576471  8.2
496  244.39024    0.278912  0.576471  8.2
497  244.39024    0.278912  0.576471  8.2
498  254.28570    0.287671  0.572549  8.2
499  253.95348    0.288591  0.584314  8.2

[500 rows x 4 columns]

In [94]:
ph8_2 = pd.DataFrame()
ph8_2 = pd.concat([ph8_2b, ph8_2v], axis=1)
ph8_2.to_csv('/content/ph_datasets/ph8.2.csv')
ph8_2

          red      blue     green        hue  saturation     value   ph
0    0.541176  0.529412  0.619608  247.82608    0.145570  0.619608  8.2
1    0.533333  0.517647  0.611765  249.99998    0.153846  0.611765  8.2
2    0.537255  0.521569  0.619608  249.59999    0.158228  0.619608  8.2
3    0.541176  0.525490  0.627451  249.23076    0.162500  0.627451  8.2
4    0.533333  0.517647  0.615686  249.59999    0.159236  0.615686  8.2
..        ...       ...       ...        ...         ...       ...  ...
495  0.427451  0.415686  0.576471  244.39024    0.278912  0.576471  8.2
496  0.427451  0.415686  0.576471  244.39024    0.278912  0.576471  8.2
497  0.427451  0.415686  0.576471  244.39024    0.278912  0.576471  8.2
498  0.447059  0.407843  0.572549  254.28570    0.287671  0.572549  8.2
499  0.454902  0.415686  0.584314  253.95348    0.288591  0.584314  8.2

[500 rows x 7 columns]

# **Ph 7.6 Manipulation**

In [95]:
ph7_6b = pd.read_csv("/content/ph_data/ph_7_6_rgb.csv")
ph7_6v = pd.read_csv("/content/ph_data/ph_7_6_hsv.csv")

In [96]:
ph7_6b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph7_6b.drop(ph7_6b.index[500:], inplace=True)
ph7_6b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.503349    0.602361    0.865710
std      0.024815    0.008903    0.017192
min      0.458824    0.580392    0.819608
25%      0.486274    0.596078    0.854902
50%      0.500000    0.603922    0.866667
75%      0.517647    0.607843    0.878431
max      0.584314    0.619608    0.894118

In [97]:
ph7_6v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph7_6v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph7_6v.drop(ph7_6v.index[500:], inplace=True)
ph7_6v.describe()
ph7_6v

          hue  saturation     value   ph
0    232.5000    0.303317  0.827451  7.6
1    231.5625    0.301887  0.831373  7.6
2    232.5000    0.303317  0.827451  7.6
3    231.5625    0.301887  0.831373  7.6
4    230.0000    0.309859  0.835294  7.6
..        ...         ...       ...  ...
495  224.8421    0.418502  0.890196  7.6
496  224.8421    0.420354  0.886274  7.6
497  224.8421    0.420354  0.886274  7.6
498  230.0000    0.312796  0.827451  7.6
499  230.0000    0.314286  0.823529  7.6

[500 rows x 4 columns]

In [98]:
ph7_6 = pd.DataFrame()
ph7_6 = pd.concat([ph7_6b, ph7_6v], axis=1)
ph7_6.to_csv('/content/ph_datasets/ph7.6.csv')
ph7_6

          red      blue     green       hue  saturation     value   ph
0    0.576471  0.607843  0.827451  232.5000    0.303317  0.827451  7.6
1    0.580392  0.615686  0.831373  231.5625    0.301887  0.831373  7.6
2    0.576471  0.607843  0.827451  232.5000    0.303317  0.827451  7.6
3    0.580392  0.615686  0.831373  231.5625    0.301887  0.831373  7.6
4    0.576471  0.619608  0.835294  230.0000    0.309859  0.835294  7.6
..        ...       ...       ...       ...         ...       ...  ...
495  0.517647  0.611765  0.890196  224.8421    0.418502  0.890196  7.6
496  0.513725  0.607843  0.886274  224.8421    0.420354  0.886274  7.6
497  0.513725  0.607843  0.886274  224.8421    0.420354  0.886274  7.6
498  0.568627  0.611765  0.827451  230.0000    0.312796  0.827451  7.6
499  0.564706  0.607843  0.823529  230.0000    0.314286  0.823529  7.6

[500 rows x 7 columns]

# **Ph 7.2 Manipulation**

In [99]:
ph7_2b = pd.read_csv("/content/ph_data/ph_7_2_rgb.csv")
ph7_2v = pd.read_csv("/content/ph_data/ph_7_2_hsv.csv")

In [100]:
ph7_2b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph7_2b.drop(ph7_2b.index[500:], inplace=True)
ph7_2b.describe()

              red        blue  green
count  500.000000  500.000000  500.0
mean     0.755514    0.833263    1.0
std      0.034803    0.014254    0.0
min      0.705882    0.796078    1.0
25%      0.729412    0.819608    1.0
50%      0.745098    0.835294    1.0
75%      0.772549    0.843137    1.0
max      0.890196    0.862745    1.0

In [101]:
ph7_2v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph7_2v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph7_2v.drop(ph7_2v.index[500:], inplace=True)
ph7_2v.describe()
ph7_2v

           hue  saturation  value   ph
0    252.63158    0.149020    1.0  7.2
1    247.69230    0.152941    1.0  7.2
2    247.89473    0.149020    1.0  7.2
3    244.50000    0.156863    1.0  7.2
4    244.50000    0.156863    1.0  7.2
..         ...         ...    ...  ...
495  225.48387    0.243137    1.0  7.2
496  225.48387    0.243137    1.0  7.2
497  232.75862    0.227451    1.0  7.2
498  245.00000    0.141176    1.0  7.2
499  245.00000    0.141176    1.0  7.2

[500 rows x 4 columns]

In [102]:
ph7_2 = pd.DataFrame()
ph7_2 = pd.concat([ph7_2b, ph7_2v], axis=1)
ph7_2.to_csv('/content/ph_datasets/ph7.2.csv')
ph7_2

          red      blue  green        hue  saturation  value   ph
0    0.882353  0.850980    1.0  252.63158    0.149020    1.0  7.2
1    0.866667  0.847059    1.0  247.69230    0.152941    1.0  7.2
2    0.870588  0.850980    1.0  247.89473    0.149020    1.0  7.2
3    0.854902  0.843137    1.0  244.50000    0.156863    1.0  7.2
4    0.854902  0.843137    1.0  244.50000    0.156863    1.0  7.2
..        ...       ...    ...        ...         ...    ...  ...
495  0.756863  0.815686    1.0  225.48387    0.243137    1.0  7.2
496  0.756863  0.815686    1.0  225.48387    0.243137    1.0  7.2
497  0.772549  0.800000    1.0  232.75862    0.227451    1.0  7.2
498  0.870588  0.858824    1.0  245.00000    0.141176    1.0  7.2
499  0.870588  0.858824    1.0  245.00000    0.141176    1.0  7.2

[500 rows x 7 columns]

# **Ph 7.0 Manipulation**

In [103]:
ph7b = pd.read_csv("/content/ph_data/ph_7_rgb.csv")
ph7v = pd.read_csv("/content/ph_data/ph_7_hsv.csv")

In [104]:
ph7b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph7b.drop(ph7b.index[500:], inplace=True)
ph7b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.477216    0.735192    0.748463
std      0.018851    0.008088    0.010111
min      0.427451    0.717647    0.729412
25%      0.466667    0.729412    0.737255
50%      0.478431    0.733333    0.749020
75%      0.490196    0.741177    0.756863
max      0.521569    0.756863    0.768627

In [105]:
ph7v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph7v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph7v.drop(ph7v.index[500:], inplace=True)
ph7v.describe()
ph7v

           hue  saturation     value   ph
0    182.06900    0.310160  0.733333  7.0
1    182.06900    0.311828  0.729412  7.0
2    182.06900    0.310160  0.733333  7.0
3    182.06900    0.310160  0.733333  7.0
4    182.06900    0.308511  0.737255  7.0
..         ...         ...       ...  ...
495  179.99997    0.352332  0.756863  7.0
496  179.99997    0.359375  0.752941  7.0
497  179.99997    0.359375  0.752941  7.0
498  188.00003    0.312500  0.752941  7.0
499  188.00003    0.312500  0.752941  7.0

[500 rows x 4 columns]

In [106]:
ph7 = pd.DataFrame()
ph7 = pd.concat([ph7b, ph7v], axis=1)
ph7.to_csv('/content/ph_datasets/ph7.csv')
ph7

          red      blue     green        hue  saturation     value   ph
0    0.505882  0.725490  0.733333  182.06900    0.310160  0.733333  7.0
1    0.501961  0.721569  0.729412  182.06900    0.311828  0.729412  7.0
2    0.505882  0.725490  0.733333  182.06900    0.310160  0.733333  7.0
3    0.505882  0.725490  0.733333  182.06900    0.310160  0.733333  7.0
4    0.509804  0.729412  0.737255  182.06900    0.308511  0.737255  7.0
..        ...       ...       ...        ...         ...       ...  ...
495  0.490196  0.756863  0.756863  179.99997    0.352332  0.756863  7.0
496  0.482353  0.752941  0.752941  179.99997    0.359375  0.752941  7.0
497  0.482353  0.752941  0.752941  179.99997    0.359375  0.752941  7.0
498  0.517647  0.721569  0.752941  188.00003    0.312500  0.752941  7.0
499  0.517647  0.721569  0.752941  188.00003    0.312500  0.752941  7.0

[500 rows x 7 columns]

# **Ph 6.8 Manipulation**

In [107]:
ph6_8b = pd.read_csv("/content/ph_data/ph_6_8_rgb.csv")
ph6_8v = pd.read_csv("/content/ph_data/ph_6_8_hsv.csv")

In [108]:
ph6_8b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph6_8b.drop(ph6_8b.index[500:], inplace=True)
ph6_8b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.511004    0.788024    0.800220
std      0.038731    0.022975    0.026988
min      0.450980    0.752941    0.745098
25%      0.478431    0.768627    0.780392
50%      0.503922    0.784314    0.800000
75%      0.541176    0.803922    0.819608
max      0.635294    0.847059    0.862745

In [109]:
ph6_8v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph6_8v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph6_8v.drop(ph6_8v.index[500:], inplace=True)
ph6_8v.describe()
ph6_8v

           hue  saturation     value   ph
0    169.99995    0.181818  0.776471  6.8
1    174.85710    0.177665  0.772549  6.8
2    173.33328    0.184615  0.764706  6.8
3    173.33330    0.230769  0.764706  6.8
4    173.33330    0.229592  0.768627  6.8
..         ...         ...       ...  ...
495  178.99997    0.303030  0.776471  6.8
496  178.99997    0.303030  0.776471  6.8
497  179.99997    0.290816  0.768627  6.8
498  170.52628    0.192893  0.772549  6.8
499  178.28566    0.180412  0.760784  6.8

[500 rows x 4 columns]

In [110]:
ph6_8 = pd.DataFrame()
ph6_8 = pd.concat([ph6_8b, ph6_8v], axis=1)
ph6_8.to_csv('/content/ph_datasets/ph6.8.csv')
ph6_8

          red      blue     green        hue  saturation     value   ph
0    0.635294  0.776471  0.752941  169.99995    0.181818  0.776471  6.8
1    0.635294  0.772549  0.760784  174.85710    0.177665  0.772549  6.8
2    0.623529  0.764706  0.749020  173.33328    0.184615  0.764706  6.8
3    0.588235  0.764706  0.745098  173.33330    0.230769  0.764706  6.8
4    0.592157  0.768627  0.749020  173.33330    0.229592  0.768627  6.8
..        ...       ...       ...        ...         ...       ...  ...
495  0.541176  0.776471  0.772549  178.99997    0.303030  0.776471  6.8
496  0.541176  0.776471  0.772549  178.99997    0.303030  0.776471  6.8
497  0.545098  0.768627  0.768627  179.99997    0.290816  0.768627  6.8
498  0.623529  0.772549  0.749020  170.52628    0.192893  0.772549  6.8
499  0.623529  0.760784  0.756863  178.28566    0.180412  0.760784  6.8

[500 rows x 7 columns]

# **Ph 4.2 Manipulation**

In [111]:
ph4_2b = pd.read_csv("/content/ph_data/ph_4_2_rgb.csv")
ph4_2v = pd.read_csv("/content/ph_data/ph_4_2_hsv.csv")

In [112]:
ph4_2b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph4_2b.drop(ph4_2b.index[500:], inplace=True)
ph4_2b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.536706    0.577467    0.824847
std      0.018046    0.005707    0.020602
min      0.498039    0.556863    0.784314
25%      0.525490    0.572549    0.811765
50%      0.537255    0.576471    0.819608
75%      0.549020    0.580392    0.843137
max      0.584314    0.596078    0.866667

In [113]:
ph4_2v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph4_2v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph4_2v.drop(ph4_2v.index[500:], inplace=True)
ph4_2v.describe()
ph4_2v

           hue  saturation     value   ph
0    237.85715    0.277228  0.792157  4.2
1    237.85715    0.277228  0.792157  4.2
2    237.85715    0.277228  0.792157  4.2
3    237.85715    0.277228  0.792157  4.2
4    238.96552    0.285714  0.796078  4.2
..         ...         ...       ...  ...
495  232.40506    0.362385  0.854902  4.2
496  233.41464    0.371041  0.866667  4.2
497  233.41464    0.371041  0.866667  4.2
498  236.72728    0.273632  0.788235  4.2
499  236.72728    0.273632  0.788235  4.2

[500 rows x 4 columns]

In [114]:
ph4_2 = pd.DataFrame()
ph4_2 = pd.concat([ph4_2b, ph4_2v], axis=1)
ph4_2.to_csv('/content/ph_datasets/ph4.2.csv')
ph4_2

          red      blue     green        hue  saturation     value   ph
0    0.572549  0.580392  0.792157  237.85715    0.277228  0.792157  4.2
1    0.572549  0.580392  0.792157  237.85715    0.277228  0.792157  4.2
2    0.572549  0.580392  0.792157  237.85715    0.277228  0.792157  4.2
3    0.572549  0.580392  0.792157  237.85715    0.277228  0.792157  4.2
4    0.568627  0.572549  0.796078  238.96552    0.285714  0.796078  4.2
..        ...       ...       ...        ...         ...       ...  ...
495  0.545098  0.584314  0.854902  232.40506    0.362385  0.854902  4.2
496  0.545098  0.580392  0.866667  233.41464    0.371041  0.866667  4.2
497  0.545098  0.580392  0.866667  233.41464    0.371041  0.866667  4.2
498  0.572549  0.584314  0.788235  236.72728    0.273632  0.788235  4.2
499  0.572549  0.584314  0.788235  236.72728    0.273632  0.788235  4.2

[500 rows x 7 columns]

# **Ph 4.0 Manipulation**

In [116]:
ph4b = pd.read_csv("/content/ph_data/ph_4_rgb.csv")
ph4v = pd.read_csv("/content/ph_data/ph_4_hsv.csv")

In [117]:
ph4b.drop(['Unnamed: 0', 'ph_label'],  axis=1, inplace=True)
ph4b.drop(ph4b.index[500:], inplace=True)
ph4b.describe()

              red        blue       green
count  500.000000  500.000000  500.000000
mean     0.472722    0.530251    0.777584
std      0.013095    0.011803    0.027614
min      0.443137    0.505882    0.713726
25%      0.462745    0.521569    0.752941
50%      0.474510    0.529412    0.772549
75%      0.478431    0.541176    0.803922
max      0.509804    0.552941    0.827451

In [118]:
ph4v.drop(['Unnamed: 0'],  axis=1, inplace=True)
ph4v.rename(columns={'lumination':'value', 'ph_label':'ph'}, inplace=True)
ph4v.drop(ph4v.index[500:], inplace=True)
ph4v.describe()
ph4v

           hue  saturation     value   ph
0    232.88135    0.318919  0.725490  4.0
1    230.47620    0.340541  0.725490  4.0
2    231.29031    0.333333  0.729412  4.0
3    229.68750    0.344086  0.729412  4.0
4    228.75000    0.342246  0.733333  4.0
..         ...         ...       ...  ...
495  229.50000    0.392157  0.800000  4.0
496  229.50000    0.394089  0.796078  4.0
497  232.17392    0.346734  0.780392  4.0
498  231.29031    0.333333  0.729412  4.0
499  228.75000    0.342246  0.733333  4.0

[500 rows x 4 columns]

In [119]:
ph4 = pd.DataFrame()
ph4 = pd.concat([ph4b, ph4v], axis=1)
ph4.to_csv('/content/ph_datasets/ph4.csv')
ph4

          red      blue     green        hue  saturation     value   ph
0    0.494118  0.521569  0.725490  232.88135    0.318919  0.725490  4.0
1    0.478431  0.517647  0.725490  230.47620    0.340541  0.725490  4.0
2    0.486274  0.521569  0.729412  231.29031    0.333333  0.729412  4.0
3    0.478431  0.521569  0.729412  229.68750    0.344086  0.729412  4.0
4    0.482353  0.529412  0.733333  228.75000    0.342246  0.733333  4.0
..        ...       ...       ...        ...         ...       ...  ...
495  0.486274  0.541176  0.800000  229.50000    0.392157  0.800000  4.0
496  0.482353  0.537255  0.796078  229.50000    0.394089  0.796078  4.0
497  0.509804  0.545098  0.780392  232.17392    0.346734  0.780392  4.0
498  0.486274  0.521569  0.729412  231.29031    0.333333  0.729412  4.0
499  0.482353  0.529412  0.733333  228.75000    0.342246  0.733333  4.0

[500 rows x 7 columns]

#**Finalizing on the Dataset**

In [127]:
result = pd.DataFrame()
result = pd.concat([ph4, ph4_2, ph6_8, ph7, ph7_2, ph7_6, ph8_2, ph10, ph12, ph14], ignore_index=True)
result

           red      blue     green        hue  saturation     value    ph
0     0.494118  0.521569  0.725490  232.88135    0.318919  0.725490   4.0
1     0.478431  0.517647  0.725490  230.47620    0.340541  0.725490   4.0
2     0.486274  0.521569  0.729412  231.29031    0.333333  0.729412   4.0
3     0.478431  0.521569  0.729412  229.68750    0.344086  0.729412   4.0
4     0.482353  0.529412  0.733333  228.75000    0.342246  0.733333   4.0
...        ...       ...       ...        ...         ...       ...   ...
4995  0.854902  0.431373  0.776471  311.11110    0.495413  0.854902  14.0
4996  0.858824  0.439216  0.784314  310.65420    0.488584  0.858824  14.0
4997  0.862745  0.443137  0.788235  310.65420    0.486364  0.862745  14.0
4998  0.815686  0.482353  0.725490  316.23532    0.408654  0.815686  14.0
4999  0.815686  0.482353  0.725490  316.23532    0.408654  0.815686  14.0

[5000 rows x 7 columns]

In [128]:
result.to_csv('/content/ph_datasets/ph_dataset.csv')